@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background-color: var(--azul-escuro);
    overflow-x: hidden;
}

:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --dark-blue: #002d57;
    --azul-escuro: #17262b;
    --vermelho-vibrante: #c11830;
    --cinza-escuro: #17262b;
    --cinza-transparente: #000000c7;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem ;
}

.logo a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--branco);
    margin-right: 20rem;
    margin-left: 4rem;
}


header img {
    max-height: 3rem;
}


nav ul, li{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3rem;
}

nav a {
    font-family: Montserrat, sans-serif;
    color: var(--branco);
    text-decoration: none;
    font-size: 1.2rem;
}

nav img {
    margin-left: 4rem;
    cursor: pointer;
}

.start {
    position: relative;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    z-index: 10;
}

.start h1, p{
    font-family: Montserrat, sans-serif;
    color: var(--branco);
}

.start h1 {
    margin-top: 5rem;
    font-size: 3rem;
    width: 80rem;
}

.start p {
    font-size: 1.4rem;
    width: 70rem;
    margin-right: 10rem;
}

.start a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 69rem;
    font-family: Poppins, sans-serif;
    
    
}

.start button {
    background-color: var(--vermelho-vibrante);
    color: var(--branco);
    width: 11rem;
    height: 3rem;
    margin-bottom: 5rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .5rem;
    cursor: pointer;
}

#background-video {
    margin-top: -40rem;
    object-fit: cover;
    width: 100%;
    height: 42rem;
    opacity: 40%;
    margin-bottom: 5rem;
}

.cristiano {
    background-color: var(--azul-escuro);
    max-width: 120rem;
    max-height: 55rem;
    display: flex;
}

.esporte {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    max-width: 65rem;
    width: 61rem;
    max-height: 40rem;
    margin-top: 9rem;
    background-color: var(--branco);
    gap: 2.5rem;
}

.esporte h2 {
    font-size: 2.4rem;
    max-width: 35rem;
    font-weight: 800;
    margin-right: 26.5rem;
    color: var(--vermelho-vibrante);
}

.esporte p {
    font-family: Montserrat,sans-serif;
    font-size: 1.55rem;
    max-width: 37rem;
    width: 37rem;
    color: var(--cinza-escuro);
    margin-bottom: 1rem;
}

.backgroundcr7 {
    margin-top: 9rem;
    max-width: 60rem;
    width: 60rem;
    max-height: 40rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: end;
    justify-content: end;
    object-fit: cover;
}

.frontcr7 {
    margin-top: 2.5rem;
    max-width: 30rem;
    width: 30rem;
    max-height: 46.5rem;
    margin-left: -45rem;
}


.cartazcr7 a {
    text-decoration: none;
}

.cartazcr7 img {
    max-width: 37rem;
    width: 37rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
}

.int-cartazcr7 {
    position: absolute;
    display: flex;
    gap: 2.5rem;
    background-color: var(--cinza-transparente);
    max-width: 37rem;
    width: 37rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -9.7rem;
    max-height: 5.3rem;
}

.int-cartazcr7 p {
    font-family: Montserrat,sans-serif;
    font-size: 1.4rem;
    color: var(--branco);
    max-width: 30rem;
    padding-left: .5rem;
}

.int-cartazcr7 img {
    margin-top: .8rem;
    max-width: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;
}

.politica {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.esquerdapol {
    text-decoration: none;
    margin-right: 5rem;
}

.direitapol {
    text-decoration: none;
    margin-right: 20rem;
}


.esquerdapol h1 {
    font-family: Poppins, sans-serif;
    color: var(--branco);
    font-size: 2.3rem;
    margin-bottom: 2rem;
}

.esquerdapol p {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    max-width: 32rem;
}

.esquerdapol img {
    max-width: 35rem;
    width: 35rem;
    border-radius: 1rem;
}

.cartpol1 {
    margin-bottom: 2rem;
}

.direitapol img {
    max-width: 35rem;
    width: 35rem;
    border-radius: 1rem;
    max-height: 40rem;
}

.int-cartazpol1 {
    position: absolute;
    display: flex;
    gap: 3.5rem;
    background-color: var(--cinza-transparente);
    max-width: 35rem;
    width: 35rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -7.4rem;
    max-height: 5rem;
}

.int-cartazpol1 p {
    font-family: Montserrat,sans-serif;
    font-size: 1.3rem;
    max-width: 27rem;
}


.int-cartazpol1 img {
    margin-top: .8rem;
    max-width: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;
}

.int-cartazpol2 {
    position: absolute;
    display: flex;
    gap: 3.5rem;
    background-color: var(--cinza-transparente);
    max-width: 35rem;
    width: 35rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -5.4rem;
    max-height: 5rem;
}

.int-cartazpol2 p {
    font-family: Montserrat,sans-serif;
    font-size: 1.3rem;
    max-width: 27rem;
}


.int-cartazpol2 img {
    margin-top: .8rem;
    max-width: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;
}

.int-cartazpol3 {
    position: absolute;
    gap: 3.5rem;
    background-color: var(--cinza-transparente);
    max-width: 35rem;
    width: 35rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -11.4rem;
    max-height: 20rem;
    height: 11rem;
}

.int-cartazpol3 p {
    font-family: Montserrat,sans-serif;
    font-size: 1.3rem;
    margin-top: .8rem;
    max-width: 32rem;
}

.int-cartazpol3 strong {
    font-family: Montserrat,sans-serif;
    color: var(--branco);
    font-size: 1.3rem;
}

.int-cartazpol3 img {
    margin-top: 1.2rem;
    margin-bottom: -.3rem;
    max-width: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;
}

.tecnologia {
    display: flex;
    background-color: var(--branco);
    padding-inline: 18.5rem 10rem;
    margin-block: 10rem 5rem;
    padding-block: 4rem 5rem;
}

.esquerdatec {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    gap: 2.5rem;
}

.esquerdatec h2 {
    font-size: 2.3rem;
    color: var(--vermelho-vibrante);
}

.esquerdatec img {
    max-width: 42rem;
    width: 42rem;
    border-radius: 1rem;
}

.meiotec {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 6rem;
    margin-left: 4rem;
}

.meiotec img {
    max-width: 16rem;
    width: 16rem;
    border-radius: .5rem;
}

.esquerdatec p {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: var(--cinza-escuro);
    max-width: 42rem;
    margin-top: -.5rem;
}

.direitatec {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    margin-left: 1rem;
    gap: 5rem;
}

.direitatec p {
    font-family: Montserrat, sans-serif;
    font-size: 1.4rem;
    color: var(--cinza-escuro);
    max-width: 21rem;
    margin-bottom: 1rem;
}

.direitatec strong {
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
    color: var(--dark-blue);
}

.direitatec a {
    color: var(--dark-blue);
    text-decoration: underline;
}

.item2 p {
    margin-top: -2rem;
}

.item3 p {
    margin-top: -1rem;
}


.flash {
    background-color: var(--azul-escuro);
    max-width: 120rem;
    max-height: 55rem;
    display: flex;
}

.backgroundflash {
    margin-top: 9rem;
    max-width: 60rem;
    width: 60rem;
    max-height: 40rem;
    margin-bottom: 4rem;
}

.frontflash {
    max-width: 43rem;
    width: 43rem;
    max-height: 49rem;
    margin-left: -51rem;
    margin-bottom: 4rem;
}

.universe {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    max-width: 60rem;
    width: 60rem;
    max-height: 40rem;
    margin-top: 9rem;
    margin-left: 7.5rem;
    margin-right: -5rem;
    background-color: var(--branco);
    gap: 3rem;
}

.universe h2 {
    font-size: 2.4rem;
    max-width: 35rem;
    font-weight: 800;
    margin-right: 7.5rem;
    color: var(--vermelho-vibrante);
}

.universe p {
    font-family: Montserrat,sans-serif;
    font-size: 1.55rem;
    max-width: 37rem;
    width: 37rem;
    color: var(--cinza-escuro);
}

.cartazflash a {
    text-decoration: none;
}

.cartazflash img {
    max-width: 37rem;
    width: 37rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.int-cartazflash {
    position: absolute;
    display: flex;
    gap: 2.5rem;
    background-color: var(--cinza-transparente);
    max-width: 37rem;
    width: 37rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: -8.7rem;
    max-height: 5.3rem;
}

.int-cartazflash p {
    font-family: Montserrat,sans-serif;
    font-size: 1.4rem;
    color: var(--branco);
    max-width: 30rem;
    padding-left: .5rem;
}

.int-cartazflash img {
    margin-top: 0.8rem;
    max-width: 1.5rem;
    width: 1.5rem;
    max-height: 1.5rem;
    height: 1.5rem;
}
